body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom,  #009688 15%, #d8dbd5 15%);
  padding-top: 20px;
  font-size: 15px;
}


.container {
  width: 90%;
  margin: 0 auto;
  height: 90vh;
  background-color: white;
  display: flex;
  padding: 0;
}


.sidebar{
  flex: 35%;
  width: 100%;
  height: 100%;
  border-right: 1px solid lightgrey;
}

.header{
  padding:10px 16px;
  height:60px;    background-color:#EDEDED;
  display:flex;
  justify-content: space-between;
}

.photo-item img{
  width:40px;
  border-radius:50px;
}

.user-information{
  flex-direction: column;
  margin-left: 5px;
}

.icons i{
  margin: 0 10px;
  color: grey;
}


.notification{
  background-color: lightskyblue;
  height: 80px;
  padding: 5px 15px;
}

.icon-notification{
  background-color: white;
  color: lightskyblue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-notification{
  margin-left: 10px;
}

.text-notification h6{
  margin: 0;

}

.text-notification a{
  font-size: 12px;
  color: grey;
  text-decoration: underline;
}

.search-panel{
  height: 60px;
  background-color: #F6F6F6;
  padding: 0 10px;
}

.search-item{
  border-radius: 5%;
}

.list-contact{
  height:calc(100% - 200px);
  background-color: #fff;
  overflow-y: scroll;
}

.contacts{
  height:80px;
  border-bottom: 1px solid lightgray;
  margin-left: 10px;
  display: flex;
}

.contacts img{
  width: 50px;
  border-radius: 50%;
}

.contacts h6{
  flex-direction: column;
  margin-left: 10px;
  margin-left: 3px 0;
}

.main {
  flex: 65%;
}

.main-header{
  height: 60px;
  background-color: #EDEDED;
  padding: 0 5px;
}

.main-information{
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.user-main-information{
  height:100%;
  display: flex;
  align-items: center;
}

.main-information img{
  border-radius: 30px;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.main-text-information h6,p{
  margin: 0;
}

.main-text-information p{
  color: #a7a7a8;
}

.main-action{
  display: flex;
  align-items: center;
  color: #a7a7a8;
}

.main-action i{
  margin-right: 20px;
  color: grey;
}

.space-message{
  height: calc(100% - 120px);
  background-image: url("img/mine.jpg");
  overflow-y: scroll;
}

.text-area{
  height: 60px;
  background-color: #EDEDED;
  display: flex;
  padding: 5px 0px;
}

.text-area > .smile{
  height: 100%;
  color: grey;
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.text-send{
  height: 100%;
  width: 100%;
}

.text-area > .attached{
  height: 100%;
  color: grey;
  display: flex;
  align-items: center;
  margin: 0 30px;
}
